<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p><a href="/sivu2">sivu2</a> | <a href="/sivu3">sivu3</a> | <a href="/logout">logout</a></p>
  <h1><%= title %></h1>
  <p>Session id on
    <%= sessid %>
  </p>
</body>

</html>
